<header class="navbar">
  <div class="container">

    <!-- Logo -->
    <div class="logo">
      <img src="assets/logo.png" alt="San Agustín">
      <span>San Agustín</span>
    </div>

    <!-- Menú -->
    <nav class="menu">
      <a href="#">QUIÉNES SOMOS?</a>
      <a href="#">INFRAESTRUCTURA</a>
      <a href="#">NIVEL EDUCATIVO</a>
      <a href="#">TALLERES DEPORTIVOS</a>
    </nav>

    <!-- Botón -->
    <div class="actions">
      <button class="btn-intranet" routerLink="/login">
        <span class="icon">👥</span>
        INTRANET
      </button>
    </div>

  </div>
</header>